* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 78, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.login h1 {
    margin-bottom: 20px;
}

.login h2 {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    margin-bottom: 10px;
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

img {
    border-radius: 20px;
}